.container {
    width: 300px;
    cursor: pointer;
    position: relative;
}

.img {
    border-radius: 10px;
    width: 100%;
}

.title {
    position: absolute;
    margin-top: -40px;
    height: 40px;
    width: 300px;
    padding: 8px 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0 0 10px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space:nowrap
}

@media only screen and (max-width: 768px){
    .container {
        width: 200px;
    }
    .title {
        width: 200px;
        height: 34px;
        margin-top:  -34px;
        padding: 6px 8px 0 8px;
    }
}
